.header {
  border-bottom: 1px solid #444;
  grid-column: 2/20;
  grid-row: 1/2;
  display: flex;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.5rem 2rem;
  padding-right: 3.5rem;
  width: 100%;
  align-items: center;
  position: relative;
}

.header-container-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 2rem;
}

.header-effect {
  min-width: 20rem;
  padding: 0 1rem;
  background-color: var(--yellow);
  text-align: center;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
}

.header-button-tooltip {
  width: 5rem;
}
